body {
    font-family: 'Actor', monospace;
    font-size: 22px;
    background-color: white;
    text-align: center;
}

#home {
    text-decoration: none;
    color: black;
}

#container {

}

.header {

}

#wordcloud {
    border-radius: 10px;
    width: 90%;
    margin: auto auto;
    height: auto;
}

.top {
    width: 90%;
    text-align: center;
    margin: auto auto;
}

.headings {
    font-weight: bold;
    font-size: 26px;
}

a:link {
    text-decoration: none;
    color: green;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: purple;
}

a.twitter-mention-button, .twitter-follow-button:link {
    text-decoration: none;
    color: #00aced;
}

a.twitter-mention-button, .twitter-follow-button:hover {
    text-decoration: none;
    color: purple;
}

a.downloadjson:link {
    text-decoration: none;
    color: #DA70D6;
}

#about {
    width: 80%;
    margin: auto auto;
    text-align: justify;
}

hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.hearts {
    color: #FF0000;
}
